/*
    When setting the primary font stack, apply it to the Pure grid units along
    with `html`, `button`, `input`, `select`, and `textarea`. Pure Grids use
    specific font stacks to ensure the greatest OS/browser compatibility.
    */
html, button, input, select, textarea,
  .pure-g [class *= "pure-u"] {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 17px;
}

h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.25em;
}

code {
  padding: 2px 4px;
  background-color: #eaeaea;
}
pre {
  padding: .75em;
  background-color: #eaeaea;
}
pre code {
  padding: 0;
}

blockquote {
  font-style: italic;
}

.header {
  background-color: #eee;
}
.pure-menu-link:hover, .pure-menu-heading:hover {
  color: orange;
}
.header h1 {
  margin: 0;
  padding: 0;
  display: inline-block;
  font-size: 1em;
  font-weight: 700;
}

.post-list {
  padding: 0 2em 0 2em;
}
.post-list .post {
  padding: 0 2em 0 2em;
}
.post {
  max-width: 720px;
  margin: 0 auto;
  padding: 0 .5em 0 .5em;
}
.post p {
  word-spacing: 3px;
  font-size: 1.1em;
}
.post li {
  word-spacing: 3px;
  font-size: 1.1em;
}
.post .table {
  width: 100%;
}
.post .table th {
  text-align: left;
}

.post-header {
  border-left: solid 3px #f00;
  padding-left: 1em;
}
.post-header a, .post-excerpt-ellipsis {
  text-decoration: none;
  color: #333;
}
.post-header a:visited, .post-excerpt-ellipsis:visited {
  color: rgb(140, 140, 140);
}
.post-header a:hover, .post-excerpt-ellipsis:hover {
  color: orange;
}
.post-header h1 {
  margin-bottom: 0;
}
.post-published {
  color: rgb(140, 140, 140);
}
.post-excerpt p {
  margin-bottom: 0;
}

.tag-list {
  padding: 0 2em 0 2em;
  max-width: 720px;
  margin: 0 auto;
}