@{
    Layout="_Layout";
}

<div class="post">
    <div class="post-header">
        <h1>@Model.WithoutSettings.String(BlogKeys.Title)</h1>
    </div>

    <div class="post-body">
        @RenderBody()
    </div>
</div>