* {
  box-sizing: border-box;
}

h1 {
  font-size: 1.5em;
  font-weight: 700;
}
h2 {
  font-size: 1.25em;
  font-weight: 600;
}
h3 {
  font-size: 1em;
  font-weight: 600;
  font-style: italic;
}

code {
  padding: 2px 4px;
  background-color: #eaeaea;
}
pre {
  padding: .75em;
  background-color: #eaeaea;
}
pre code {
  padding: 0;
}

blockquote {
  font-style: italic;
}